.hero {
    background-image: url('./pix/colorful-2174045_1280.png'); 
    background-size: cover;
    background-position: center;
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;
    position: relative;
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .hero-title {
    color: white;
    font-size: 6.5rem;
    font-weight: bold;
    margin-left: 200px;
    margin-bottom: auto;
    margin-top: auto;
    letter-spacing: 4px;
    text-align: center;

    flex: 1;
  }
  
  .job-title {
    color: gray;
    font-size: 2.5rem;
    margin-top: 0px;
    font-weight: bold;
    text-align: center;
    margin-left: 180px;
  }